.Activity__link td {
  cursor: pointer;
  border-color: transparent;
  line-height: 1.7;
}

.Activity__link {
  vertical-align: baseline;
  transition: 0.1s background ease-in;
}

.Activity__link:hover {
  background: #cacaca5e;
}

.Activity thead,
.Activity tbody {
  background: white;
}

.Activity thead tr {
  height: 80px;
}

.Activity__td {
  display: block;
  padding-left: 0 !important;
}

.Activity__td strong {
  width: 80px;
  display: inline-block;
  font-weight: 300;
}
