.Badge {
  font-size: 1.2rem;
  display: inline-block;
  padding: .2rem .8rem 0;
  height: 2.4rem;
  border-radius: 1.2rem;
  line-height: 2rem;
}

.Badge--created,
.Badge--deposited {
  color: white;
  background-color: #9e9e9e;
}

.Badge--product_sent {
  background-color: #9eec15;
}

.Badge--approved,
.Badge--completed {
  color: white;
  background-color: #15e0ec;
}

.Badge--refunded,
.Badge--cancelled,
.Badge--in_dispute {
  color: white;
  background-color: #ec155d;
}
