.Balance {
	text-align: left;
	color: #333;
}

.Balance__sync {
  float: right;
  cursor: pointer;
}

.Balance__name {
	opacity: .7;
}

.Balance__loading {
	margin-top: 1.7rem;
}

.Balance__value {
	min-width: 30rem;
	min-height: 7rem;
}

.Balance__value--loading {
	text-align: center;
}

.Balance__value--val {
	font-size: 2.5em;
	font-weight: 500;
}

.Balance__value--unit {
	font-size: 1.5em;
	opacity: .8;
	margin-left: 10px;
}
