.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: auto;
  overflow: scroll;
  margin: auto;
  padding: 1rem 2rem;
  transform: translate(-50%, -55%);
  max-width: 60rem;
  min-width: 40rem;
  max-height: 90%;
  background: #fff;
  z-index: 3;
}

.modal--msg {
  background: 0;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.modal-open {
  overflow: hidden;
}
