.StatusBadge {
  font-size: 1.2rem;
  display: inline-block;
  padding: .2rem .8rem 0;
  height: 2.4rem;
  border-radius: 1.2rem;
  line-height: 2rem;
  color: white;
  background-color: #9e9e9e;
}

.StatusBadge--product_sent {
  background-color: #16eb92;
}

.StatusBadge--approved,
.StatusBadge--completed {
  background-color: #15e0ec;
}

.StatusBadge--refunded,
.StatusBadge--cancelled,
.StatusBadge--in_dispute {
  background-color: #ec155d;
}
